@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');
@font-face {
    font-family: 'Cooper Black Standard';
    src: url(assets/fonts/CooperBlackStd.otf);
  }

/* Typography */
*{
    font-family: 'Open Sans', Verdana, Arial, sans-serif;   
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a, button, h1, h2, h3, h4, table, td, th, .serif, .sans-serif {
    font-family: 'Cooper Black Standard', 'Corben', 'Times New Roman', serif, sans-serif;
}

h1{
    font-size: 42px;
    font-weight: 700;
}

h2{
    font-size:36px;
    font-weight: 400;
}

h3{
    font-size:26px;  
}

h4{
    font-size:18px;
    margin-bottom: 0.5rem;

}

p{
    font-size: 16px;
    margin-bottom: 1rem;
}

p, .sans-serif {
    font-family: 'Open Sans', Verdana, Arial, sans-serif;   
}

a:hover, button:hover{
    cursor:pointer;
}

p a{
    text-transform: uppercase;
}

button{
    line-height: inherit;
    padding-top: 1.25rem;
    letter-spacing: 0.15em;
}
  
main {
    flex: 1; /* Or flex-grow: 1;*/
}
