$blue: #00e6de;
$dark: #272727;
$gray: #f0f0f0;
$white: #ffffff;
$md:768px;
$lg:1024px;
$xl:1280px;
$linkColor:$dark;
$buttonColor: $dark;
$buttonColorHover: $blue;
$serif:'Cooper Black Standard', 'Corben', 'Times New Roman', serif, sans-serif;

